.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn {
    border: none;
    background-color: rgb(244, 183, 0);
    color: black;
    font-size: 20px;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
}
